<!DOCTYPE html>

<html>
  <head>
    <title>My Flask App Page</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overall.css')}}">

  </head>

  <body>

    <h1 id="header"> Your typical food blog</h1>


<div align="center">

  <br>
  <br>

      {% if name %}

      <h3> Welcome to our website</h3>

      {% else %}

      <h3> Welcome to our website </h3>

      {% endif %}

      <p> Sign up to our newsletter below</p>


      <div id="contact-form">
          <form method="post" action="/signup">

              <label for="fnm">First name <span style="color:red;">*</span></label>
              <input type="fnm" id="fnm" name="fnm" required="required">
              <br>

              <label for="lnm">Last name</label>
              <input type="lnm" id="lnm" name="lnm" >
              <br>


              <label for="email">Email address <span style="color:red;">*</span></label>
              <input type="email" id="email" name="email" required="required">
              <br>

              <input type="submit" value="Submit" id="submit-button">
          </form>
      </div>


      </div>



  </body>
</html>
